<footer>
       <span>© CentralFICA 2024</span></br>
       <span>Desenvolvido por AZULtech</span>
 </footer>

 <style>
       footer{
            align-items: center;
            text-align: center;
            background-color: #FFF;
            padding: 0.5rem;
            margin-top:2rem
       }
 </style>